.date{
    font-size:  45px;/* 원하는 폰트 사이즈 */
    color: rgb(255,255,255);/* 날짜가 표기되는 텍스트 색상 */
}
.time{
    font-size:  130px;/* 원하는 폰트 사이즈 */
    font-weight: bold;
    color: rgb(255,255,255); /* 시간이 표기되는 텍스트 색상 */
}