<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Inbi's blog</title>
    <link href="{% static 'blog/bootstrap/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/about_me.css' %}" rel="stylesheet" media="screen">
    <script src="https://kit.fontawesome.com/01fb414d2f.js" crossorigin="anonymous"></script>
</head>

<body>
    {% include 'blog/navbar.html' %}
    <section style="margin-bottom:50px;">
        <div class="container mt-4">
            <div class="row">
                <div class="col-lg-8">
                    <h1 style="font-weight: bold; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);">Inbi's blog</h1>
                    <br />

                    <!-- <p class="lead">
                    </p> -->
                    <ul>
                        <h3 style="font-weight: bold;">Introduce</h3>
                        <ul>
                            <li>헬스, 농구, 탁구 등 운동을 잘하지는 않지만 좋아합니다.</li>
                            <li>주 언어는 python이며 데이터 분석, Iot, 서버에 관심이 많습니다.</li>
                        </ul>
                    </ul>
                </div>
                <!-- <div class="col-lg-4">
                    <img class="img-fluid" src="{% static 'images/bg3.jpg' %}">
                </div> -->
            </div>
        </div>
    </section>

    <section class="bg-light" margin-for-footer>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 style="font-weight: bold; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);">Projects</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card" data-toggle="modal" data-target="#bg1">
                        <img class="card-img-top" src="{% static 'images/project1.jpg' %}" height="250px">
                        <div class="card-body">
                            <h5 class="card-title" style="font-weight: bold;">iot와 얼굴 인식을 이용한 비접촉 체온 측정 기기</h5>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card" data-toggle="modal" data-target="#bg2">
                        <img class="card-img-top" src="{% static 'images/project2.jpg' %}" height="250px">
                        <div class="card-body">
                            <h5 class="card-title" style="font-weight: bold;">머신러닝을 활용한 비접촉 온도센서의 측정 온도 보정 계산과 자동화</h5>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card" data-toggle="modal" data-target="#bg3">
                        <img class="card-img-top" src="{% static 'images/project3.jpg' %}" height="250px">
                        <div class="card-body">
                            <h5 class="card-title" style="font-weight: bold;">개인 블로그 제작</h5><br>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--modal-->
    <div class="modal fade" id="bg1" tabindex="-1" role="dialog" aria-labelledby="automationPythonModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id=" automationPythonModalLabel">iot와 얼굴 인식을 이용한 비접촉 체온 측정 기기</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-7">
                            <img class="img-fluid" src="{% static 'images/project1.jpg' %}">
                        </div>
                        <div class="col-lg-5">
                            <p>
                                체온을 측정하는 기능과 사람을 인증하는 기능으로 나누어져 있어 관리하기 힘들기 때문에
                                전자 인증과 체온 체크 기능을 합치고 그것을 쉽게 관리할 수 있는 시제품을 만들어보고자 한다.
                                </p>
                            <a class="card-title"
                                href="https://github.com/hoojoun/non-contact_body_temperaure_measurement">
                                <button type="button" class="btn btn-light"><i class="fas fa-chalkboard-teacher"></i>&nbsp;github
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="bg2" tabindex="-1" role="dialog" aria-labelledby="automationPythonModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id=" automationPythonModalLabel">머신러닝을 활용한 비접촉 온도센서의 측정 온도 보정 계산과 자동화</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-7">
                            <img class="img-fluid" src="{% static 'images/project2.jpg' %}">
                        </div>
                        <div class="col-lg-5">
                            <p>비 접촉 온도 센서의 단점인 측정 온도의 정확도가 떨어지는 것을 보정 온도를 계산 
                                후 합산하여 보정한다. 또한 데이터를 
                                계산한 결과들을 분석하여 어떠한 환경 조건이 비접촉 체온 측정에 어떠한 영향을 미치는지 
                                확인한다. </p>
                            <a class="card-title" href="pdf">
                                <button type="button" class="btn btn-light"><i class="fas fa-chalkboard-teacher"></i>&nbsp;PDF
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="bg3" tabindex="-1" role="dialog" aria-labelledby="automationPythonModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id=" automationPythonModalLabel">개인 블로그 제작</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-7">
                            <img class="img-fluid" src="{% static 'images/project3.jpg' %}">
                        </div>
                        <div class="col-lg-5">
                            <p>서버를 처음 다루는 사람이 처음으로 만들어보는 블로그이다. 과거에 참가한 프로젝트와 각종 정보를 정리한 포스트로 이루어져 있다. </p>
                            <a class="card-title" href="https://github.com/hoojoun/hj_blog">
                                <button type="button" class="btn btn-light"><i class="fas fa-chalkboard-teacher"></i>&nbsp;github
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
        crossorigin="anonymous"></script>
</body>

</html>